*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px;
background:#111;
color:white;
}

.navbar a{
color:white;
margin-left:20px;
text-decoration:none;
}

.hero{
height:600px;

background-image:url("hero.jpg");  /* CHANGE IMAGE HERE */

background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
color:white;
text-align:center;
}

.hero h1{
font-size:48px;
}

.hero button{
padding:12px 25px;
background:red;
border:none;
color:white;
margin-top:20px;
}

.services{
padding:80px;
text-align:center;
}

.service-box{
display:flex;
gap:30px;
justify-content:center;
margin-top:40px;
}

.card{
padding:30px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
width:250px;
}
